.container{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: flex-end;
}
.btn-cart{
    margin-top: 20px;
    margin-bottom: 20px;
    background: 0;
    border: 0;
    outline: 0;
}
i{
    color: gold;
}
.products{
    display:flex;
    justify-content: space-between;
}
.product-item{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.buy-btn{
    padding: 10px 30px;
    background-color: coral;
    border-radius: 5px;
    border: 0;
    outline: 0;
}